<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.bwpl.TestPL" version="0.1." xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>TestPL</name><js-module name="TestPL" src="www/TestPL.js"><clobbers target="cordova.plugins.TestPL" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="TestPL"><param name="android-package" value="com.bwpl.TestPL.TestPL" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/TestPL.java" target-dir="src/com/bwpl/TestPL/TestPL" /></platform></plugin>